.background{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23px;
    margin-bottom: 23px;
}

.form-group>input{
    height: 35px;
    width: 100%;
    margin-top: 15px;
}

.form-group{
    width: 100%;
}

#SingUpRegister,#signInLogin{
    width: 28%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}

#SingUpRegister button,#signInLogin button{
    background-color: rgb(1, 87, 155);
    border: none;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0px;
    width: 100%;
    cursor: pointer;
}

#SingUpRegister h2,#signInLogin h2{
    text-align: center;
    background-color: rgb(1, 87, 155);
    color: white;
}





